**TP1**

Comparer	deux	jeux	de	données	de	climat	pour	déterminer	la	capitale	européenne	dont	les	données	de température	sont	fournies	dans	le	fichier Climat.xlsx	

On	se	servira	du	fichier	Savukoskikirkonkyla.xlsx	issu	de	l’open	data	pour	servir	de	référence.	

Objectifs	:		
• Mettre	en	oeuvre	un	environnement	de	traitement	graphique	de	données	issues	de	sources	plus	ou	
moins	fiables.	
• Corriger	un	jeu	de	données	mal	formé	
• proposer	un	candidat	potentiel	pour	l’origine	des	données.

Déroulement:	
• Pour	l’	échantillon	SI,	calculez	:	
  • moyenne	 par	mois	
  • écart	type	 par	mois	
  • min	/max	 par	mois	et	par	année	
  • uliser	par		Python	Scipy	pour	les	pares	mathémaques.	
• tracer	les	courbes	de	chaque	mois	avec	une	bibliothèque	graphique	python	Matplotlib,	12	vues	mensuelles	
• Assembler	les	courbes	sur	un	seul	graphique	(J1	->	J365)		:	vue	annuelle	
• Présenter	la	valeur	lue	en	parcourant	la	courbe	à	l'aide	du	pointeur,		
• Présenter	les	valeurs	précédentes	par	mois glissant	de	30	jours centré sur	la	valeur	lue	
• Recommencez	avec	le	jeu	SI-erreur	après	avoir	corrigé	les	valeurs	en	erreur.	Précisez vos méthodes.	
• Les	données	corrigées	sont	elles	proches	des	valeurs	sans	erreur	?	
• A	parr	de	données	opendata	du	second	fichier,	retrouver	le	type	de	climat		
• reprendre	les	données	typiques	de	la	localisaon	proche		fournies	en	complément	,	comparer	les	écarts.		
• Qu'en	concluez	vous	?		
• De	quelle	la	capitale	européenne	avez	vous		eu	les	données	.	
Outils		:	à	utiliser	Python	+	matplotlib,	Jupyter	éventuellement.	Pas	de	R	ni	d’autre	langage	autorisés	
Evaluation:	
Démonstration	des	solutions	techniques	et	argumentation	sur	les	méthodes	utilisées

In [1]:
%matplotlib widget
import matplotlib as mpl
import jupyter as jup
import pandas as pd
import mplcursors

In [2]:
#récupération du fichier excel Climat
excel_file = 'ClimatSI.csv.xlsx'
df_climat = pd.read_excel(excel_file, sheet_name = 'SI ')
df_climat

,janvier,février,mars,avril,mai,juin,juillet,août,septembre,octobre,novembre,décembre
0,-5,-7.0,-7,2.0,12,17.0,20,20,16.0,6,0.0,-6
1,-6,-6.0,-8,3.0,14,16.0,20,19,14.0,2,1.0,-4
2,-5,-5.0,-5,4.0,15,17.0,17,19,15.0,3,2.0,-8
3,-3,-6.0,-3,6.0,16,14.0,18,18,13.0,4,3.0,-9
4,-6,-8.0,-2,4.0,13,15.0,17,17,12.0,3,4.0,-9
5,-11,-9.0,1,5.0,12,17.0,17,18,10.0,2,3.0,-9
6,-6,5.0,2,4.0,8,17.0,16,16,12.0,4,4.0,-8
7,-8,-11.0,1,6.0,7,15.0,17,17,11.0,5,5.0,-4
8,-11,-12.0,1,7.0,6,14.0,17,15,11.0,3,5.0,-3
9,-8,-9.0,2,7.0,5,15.0,15,14,12.0,4,-1.0,-8
10,-8,-6.0,1,8.0,5,14.0,15,14,10.0,2,-2.0,-9
11,-8,-5.0,3,8.0,6,13.0,16,15,10.0,1,-1.0,-5
12,-8,-4.0,5,9.0,8,11.0,16,15,9.0,3,-7.0,-6
13,-10,1.0,5,10.0,10,14.0,13,15,9.0,3,-8.0,-7
14,-10,3.0,7,8.0,12,15.0,14,17,10.0,3,-5.0,-11
15,-9,-9.0,3,8.0,13,15.0,14,18,11.0,1,-3.0,-6
16,-6,-6.0,2,9.0,14,15.0,15,19,10.0,4,-2.0,-8
17,-6,-6.0,-1,11.0,13,17.0,15,21,10.0,6,1.0,-11
18,-4,-4.0,-2,10.0,15,16.0,15,24,9.0,6,2.0,-8
19,-8,2.0,-1,11.0,15,19.0,17,21,11.0,6,1.0,-8
20,-9,3.0,0,12.0,15,20.0,18,21,12.0,7,0.0,-3
21,-14,1.0,1,9.0,18,19.0,19,26,12.0,7,0.0,-6
22,-15,-3.0,2,7.0,18,20.0,21,17,10.0,6,1.0,-8
23,-17,-4.0,3,8.0,16,22.0,24,18,11.0,6,3.0,-9
24,-19,-6.0,4,8.0,15,22.0,23,17,10.0,6,5.0,-5
25,-23,-8.0,3,6.0,16,21.0,26,17,9.0,4,-2.0,-6
26,-8,-8.0,4,9.0,16,22.0,26,16,6.0,3,-3.0,-7
27,-9,-11.0,5,11.0,17,21.0,21,17,7.0,3,-6.0,-8
28,-5,NaN,5,14.0,16,21.0,22,17,7.0,4,-6.0,-6
29,-6,NaN,3,16.0,17,17.0,23,18,6.0,2,-4.0,-7
30,-7,NaN,3,NaN,17,NaN,21,17,NaN,1,NaN,-5

In [3]:
#moyenne par mois
df_climat.mean()

janvier      -8.967742
février      -4.928571
mars          1.193548
avril         8.000000
mai          12.903226
juin         17.033333
juillet      18.322581
août         17.838710
septembre    10.500000
octobre       3.870968
novembre     -0.333333
décembre     -7.000000
dtype: float64

In [4]:
#écart type par mois
df_climat.std()

janvier      4.490611
février      4.561746
mars         3.506369
avril        3.151354
mai          4.036127
juin         3.011281
juillet      3.571994
août         2.696872
septembre    2.330458
octobre      1.802627
novembre     3.717000
décembre     2.065591
dtype: float64

In [5]:
#min par mois
print("minimum par mois")
print(df_climat.min())

print("\r")

#max par mois
print("maximum par mois")
print(df_climat.max())

minimum par mois
janvier     -23.0
février     -12.0
mars         -8.0
avril         2.0
mai           5.0
juin         11.0
juillet      13.0
août         14.0
septembre     6.0
octobre       1.0
novembre     -8.0
décembre    -11.0
dtype: float64

maximum par mois
janvier      -3.0
février       5.0
mars          7.0
avril        16.0
mai          18.0
juin         22.0
juillet      26.0
août         26.0
septembre    16.0
octobre       7.0
novembre      5.0
décembre     -3.0
dtype: float64

In [6]:
#min de l'année
print("Température minimale de l'année :", df_climat.min().min())

#max de l'année
print("Température maximale de l'année :", df_climat.max().max())

Température minimale de l'année : -23.0
Température maximale de l'année : 26.0

In [15]:
#courbe par mois
import matplotlib.pyplot as plt
import numpy as np
df_climat.plot();

plt.xlabel('Jour de mois')
plt.ylabel('Température')
plt.title("Température par mois")
plt.legend()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [16]:
#courbe pour l'année
df = pd.DataFrame(data=df_climat.values.flatten(order='F'))
df = df.dropna()
df = df.reset_index(drop=True)
df.plot(figsize=(10, 10),xticks=[0,31,59,90,120,151,181,212,243,273,304,334,365])

plt.xlabel('Jour de l\'année')
plt.ylabel('Température')
plt.title("Température par mois")
plt.legend()

mplcursors.cursor()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [17]:
#récupération du fichier excel
excel_file = 'ClimatSI2.csv.xlsx'
df_climat_error = pd.read_excel(excel_file, sheet_name = 'SI -erreur')

df_errors = pd.DataFrame(data=df_climat_error.values.flatten(order='F'))
df_errors = df_errors.dropna()
df_errors = df_errors.reset_index(drop=True)

#récupère les cellules en erreurs et les transforme en string vide
df_errors[df_errors[0].str.contains('[^-0-9\/]+')==True] = ''

#convertie la colonne en float
df_errors[0] = pd.to_numeric(df_errors[0], downcast='float')

#complète les cellules vides/NaN
df_errors[0] = df_errors[0].interpolate()

In [18]:
#le graphe de l'année
df_errors.plot(figsize=(10, 10),xticks=[0,31,59,90,120,151,181,212,243,273,304,334,365])

plt.xlabel('Jour de l\'année')
plt.ylabel('Température')
plt.title("Température par mois")
plt.legend()

mplcursors.cursor()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [19]:
#reject outliers
df_errors = df_errors[abs(df_errors - np.mean(df_errors)) < 2 * np.std(df_errors)]
df_errors[0] = df_errors[0].interpolate()

#le graphe de l'année
df_errors.plot(figsize=(10, 10),xticks=[0,31,59,90,120,151,181,212,243,273,304,334,365])

plt.xlabel('Jour de l\'année')
plt.ylabel('Température')
plt.title("Température par mois")
plt.legend()

mplcursors.cursor()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [20]:
#le graphe de l'année
ax = df_errors.plot(figsize=(10, 10),xticks=[0,31,59,90,120,151,181,212,243,273,304,334,365])
df.plot(figsize=(10, 10),xticks=[0,31,59,90,120,151,181,212,243,273,304,334,365], ax=ax)

plt.xlabel('Jour de l\'année')
plt.ylabel('Température')
plt.title("Température par mois")
plt.legend()

plt.show()

mplcursors.cursor()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [21]:
#récupération du fichier excel 
excel_file_savu = 'Savukoski kirkonkyla.xlsx'
df_savu = pd.read_excel(excel_file_savu, sheet_name = 'Observation data')

ax = df_savu.plot(figsize=(10, 10),xticks=[0,31,59,90,120,151,181,212,243,273,304,334,365], y="Air temperature (degC)")
df.plot(figsize=(10, 10),xticks=[0,31,59,90,120,151,181,212,243,273,304,334,365], ax=ax)


plt.xlabel('Jour de l\'année')
plt.ylabel('Température')
plt.title("Température par mois")
plt.legend()

mplcursors.cursor()

d:\devapps\lib\site-packages\openpyxl\worksheet\_reader.py:308: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [116]:
#récupération du fichier
excel_file_prague = 'prague.xlsx'
df_climat_prague = pd.read_excel(excel_file_prague)

excel_file_helsinki = 'helsinki.xlsx'
df_climat_helsinki = pd.read_excel(excel_file_helsinki)

excel_file_oslo = 'oslo.xlsx'
df_climat_oslo = pd.read_excel(excel_file_oslo)

excel_file_moscou = 'moscou.xlsx'
df_climat_moscou = pd.read_excel(excel_file_moscou)

#mean
full_mean_cities = pd.DataFrame(df_climat_prague.mean())
full_mean_cities =  full_mean_cities.rename(columns={0: 'prague'})
full_mean_cities['helsinki'] = pd.DataFrame(df_climat_helsinki.mean())
full_mean_cities['oslo'] = pd.DataFrame(df_climat_oslo.mean())
full_mean_cities['moscou'] = pd.DataFrame(df_climat_moscou.mean())

df_climat_mean = pd.DataFrame(df_climat.mean())
df_climat_mean_transposed = df_climat_mean.T
full_mean_cities_transposed = full_mean_cities.T

    
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return array[idx]

nearest_mean_cities = []

for i in full_mean_cities_transposed.columns:
    value = find_nearest(full_mean_cities_transposed[i], df_climat_mean_transposed[i][0])
    nearest = full_mean_cities_transposed[full_mean_cities_transposed[i] == value]
    nearest_mean_cities.append(nearest.index)
    
nearest_mean_cities

[Index(['moscou'], dtype='object'),
 Index(['oslo'], dtype='object'),
 Index(['prague'], dtype='object'),
 Index(['moscou'], dtype='object'),
 Index(['helsinki'], dtype='object'),
 Index(['moscou'], dtype='object'),
 Index(['moscou'], dtype='object'),
 Index(['helsinki'], dtype='object'),
 Index(['oslo'], dtype='object'),
 Index(['oslo'], dtype='object'),
 Index(['moscou'], dtype='object'),
 Index(['moscou'], dtype='object')]

In [118]:
#écart type
full_std_cities = pd.DataFrame(df_climat_prague.std())
full_std_cities =  full_std_cities.rename(columns={0: 'prague'})
full_std_cities['helsinki'] = pd.DataFrame(df_climat_helsinki.std())
full_std_cities['oslo'] = pd.DataFrame(df_climat_oslo.std())
full_std_cities['moscou'] = pd.DataFrame(df_climat_moscou.std())

df_climat_std = pd.DataFrame(df_climat.std())
df_climat_std_transposed = df_climat_std.T
full_std_cities_transposed = full_std_cities.T

nearest_std_cities = []

for i in full_std_cities_transposed.columns:
    value = find_nearest(full_std_cities_transposed[i], df_climat_std_transposed[i][0])
    nearest = full_std_cities_transposed[full_std_cities_transposed[i] == value]
    nearest_std_cities.append(nearest.index)
    
nearest_std_cities

[Index(['helsinki'], dtype='object'),
 Index(['moscou'], dtype='object'),
 Index(['oslo'], dtype='object'),
 Index(['helsinki'], dtype='object'),
 Index(['helsinki'], dtype='object'),
 Index(['helsinki'], dtype='object'),
 Index(['helsinki'], dtype='object'),
 Index(['oslo'], dtype='object'),
 Index(['oslo'], dtype='object'),
 Index(['prague'], dtype='object'),
 Index(['helsinki'], dtype='object'),
 Index(['prague'], dtype='object')]